source/SIL.AppBuilder.Portal.AWS.Step/flow.asl.json
{
  "Comment": "An example of the Amazon States Language using a choice state.",
  "StartAt": "FirstState",
  "States": {
    "FirstState": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke.waitForTaskToken",
      "Parameters": {
        "ApiEndpoint": "http://localhost:3000",
        "Authentication": {
          "ConnectionArn": "arn:aws:events:dummy:123456789012:connection"
        },
        "Method": "POST",
        "Headers": {
          "Content-Type": "application/json"
        },
        "RequestBody": {
          "token.$": "$$.Task.Token"
        }
      },
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.name",
          "StringEquals": "test",
          "Next": "SuccessState"
        }
      ],
      "Default": "DefaultState"
    },

    "DefaultState": {
      "Type": "Fail",
      "Error": "DefaultStateError",
      "Cause": "No Matches!"
    },

    "SuccessState": {
      "Type": "Succeed"
    }
  }
}